<div clss="gis_HelloDijit">
  <!--copied and customized Editor.html in order to create a simple button
      key documentation:
      https://dojotoolkit.org/reference-guide/1.10/dijit/_WidgetsInTemplateMixin.html
      https://dojotoolkit.org/reference-guide/1.10/dijit/_TemplatedMixin.html#dijit-templatedmixin
      http://dojotoolkit.org/reference-guide/1.10/dojo/i18n.html

      the reference to the label uses resource.js. this way the nls standards are maintained.
      attach-event connects to a function in WidgetName.js.
      Here, "sayHi" is a function in Hello_World.js and is called on a click event. - MEM2-->
    <div class ="buttonActionBar">

        <div data-dojo-type="dijit/form/Button"
                data-dojo-props="label:'${i18n.labels.sayHello}'"
                data-dojo-attach-event="onClick:sayHi"></div>
        <div data-dojo-type="dijit/form/Button" data-dojo-props="label:'${i18n.labels.sayGoodbye}'" data-dojo-attach-event="onClick:sayBye"></div>

    </div>

    <!-- renameed div to match the widget name. snippet is from editor.html. dunno why this div is here. -MEM2 -->
    <!-- <div class="helloDijit"
         style="margin-top:5px;"
         data-dojo-attach-point="containerNode"></div> -->

</div>
