.dgrid {
    height: auto;
	
}
.dgrid .dgrid-scroller {
    position: relative;
    overflow: hidden!important;
}



.dijitTabContainerBottom-container, .dijitTabContainerTop-container, .dijitTabContainerLeft-container, .dijitTabContainerRight-container {
z-index: 0;
overflow-x: scroll;
border: 1px solid black;
height:190px;
}

.dbootstrap .dgrid .dgrid-cell {
border-color: #FFF;
border-style: none;
border-width: 0 1px 0 0;
overflow: none;
text-shadow: 0 1px 0 #fff;
}

.dgrid-row-table {
border-collapse: collapse;
border: none;
table-layout: auto;
empty-cells: show;
width: 90%!important;
height: 90%!important;
}



